<h1>Personas</h1>

<a routerLink='/personacreacion'>
    <button>
        Crear Persona
    </button>
</a>


<table class='table'>
    <ng-container *ngFor="let persona of personas">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cedula</th>
                <th>Fecha</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{persona.Nombre}}
                </td>
                <td>
                    {{persona.Cedula}}
                </td>
                <td>
                    {{persona.Fecha}}
                </td>
                <td>
                    {{persona.Telefono}}
                </td>
                <td>
                    {{persona.Direccion}}
                </td>
                <td>
                    <a routerLink='/personamodificacion/{{persona.Id}}'>
                        Modificar
                    </a>
                </td>
                <td>
                    <button ng-click=`eliminar(persona.Id)`>
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </ng-container>
</table>

