<h1>Personas</h1>

<a routerLink='/personacreacion'>
    <button>
        Crear Persona
    </button>
</a>

<ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-balham"
[gridOptions]="gridOptions"
[sideBar]="showToolPanel"
[rowData]="rowData">

<ag-grid-column headerName="Identificacion"  field="identificacion" [width]="150"  [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>

<ag-grid-column headerName="Nombre"  field="primerNombre" [width]="150"  [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>

<ag-grid-column headerName="Apellido" field="primerApellido" [width]="150"  [sortable]="true" [resizable]="true" [filter]="true"> </ag-grid-column>

<ag-grid-column headerName="Telefono" field="telefono" [width]="150"  [sortable]="true" [resizable]="true" [filter]="true"> </ag-grid-column>

<ag-grid-column headerName="Direccion" field="direccion" [width]="150"  [sortable]="true" [resizable]="true" [filter]="true"> </ag-grid-column>

<ag-grid-column headerName="Correo" field="correo" [width]="150"  [sortable]="true" [resizable]="true" [filter]="true"> </ag-grid-column>

<ag-grid-column headerName="Fecha" field="fechaNacimiento" [width]="150"  [sortable]="true" [resizable]="true" [filter]="true"> </ag-grid-column>




</ag-grid-angular>




<ng-template ngFor let-item [ngForOf]="rowData" let-i="index" [ngForTrackBy]="trackByFn">
    <a href= "personamodificacion/{{item.id}}">Modifica a {{item.primerNombre}}</a> <br> <br>
</ng-template>





<ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-balham"
[gridOptions]="gridOptions"
[sideBar]="showToolPanel"
[rowData]="rowData">

<ag-grid-column headerName="Apellido" field="primerApellido" [width]="150"  [sortable]="true" [resizable]="true" [filter]="true"> </ag-grid-column>

<ag-grid-column headerName="Nombre"  field="primerNombre" [width]="150"  [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>

<ag-grid-column headerName="Telefono" field="telefono" [width]="150"  [sortable]="true" [resizable]="true" [filter]="true"> </ag-grid-column>

<ag-grid-column headerName="Direccion" field="direccion" [width]="150"  [sortable]="true" [resizable]="true" [filter]="true"> </ag-grid-column>

<ag-grid-column headerName="Correo" field="correo" [width]="150"  [sortable]="true" [resizable]="true" [filter]="true"> </ag-grid-column>

<ag-grid-column headerName="Fecha" field="fechaNacimiento" [width]="150"  [sortable]="true" [resizable]="true" [filter]="true"> </ag-grid-column>




</ag-grid-angular>