<h1>Personas Modificacion</h1>


<form [formGroup]="modificarPersonaForm" (ngSubmit)="modificarPersona()">

    <!--Input Nombre-->
    <!--<mat-form-field class="nombre" appearance="outline">
        <mat-label class="labelInput">Nombre</mat-label>
        <input matInput type="text" formControlName="nombre">
    </mat-form-field>-->
    <!--Input Cedula-->
    <!--<mat-form-field class="cedula" appearance="outline">
        <mat-label class="labelInput">Cédula</mat-label>
        <input matInput type="text" formControlName="cedula">
    </mat-form-field>-->
    <!--Input Fecha de Nacimiento-->
    <!--<mat-form-field class="fecha" appearance="outline">
        <mat-label class="labelInput">Fecha Nacimiento</mat-label>
        <input matInput type="text" formControlName="fecha">
    </mat-form-field>-->
    <!--Input Telefono-->
    <!--<mat-form-field class="telefono" appearance="outline">
        <mat-label class="labelInput">Teléfono</mat-label>
        <input matInput type="text" formControlName="telefono">
    </mat-form-field>-->
    <!--Input Dirección-->
    <!--<mat-form-field class="direccion" appearance="outline">
        <mat-label class="labelInput">Dirección</mat-label>
        <input matInput type="text" formControlName="direccion">
    </mat-form-field>-->

</form>
